html, body {
	overflow: hidden;
}

html {
	position: relative;
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	margin-bottom: 200px;

	height: 100%;

	font-family: Georgia;

	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #e2e0a7 46%, #a4a87e 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(46%,#e2e0a7), color-stop(50%,#a4a87e), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#e2e0a7 46%,#a4a87e 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#e2e0a7 46%,#a4a87e 50%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#e2e0a7 46%,#a4a87e 50%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #7db9e8 0%,#e2e0a7 46%,#a4a87e 50%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

#tweet {
	margin-top: 20px;
}

#auth-wrapper {
	border-radius: 3px;

	box-sizing: border-box;

	background: #eee;

	padding: 20px;

	width: 350px;
	height: 250px;

	position: fixed;

	left: 50%;
	top: 50%;

	margin-top: -125px;
	margin-left: -175px;
	
	z-index: 4000;

	-webkit-box-shadow:  0px 0px 7px 3px rgba(128, 2, 2, 0.5);
	box-shadow:  0px 0px 7px 3px rgba(128, 2, 2, 0.5);

	#register {
		margin-top: 0;
	}

	#done-registering {
		display: none;

		color: blue;
		text-decoration: none;
		
		&:visited {
			color: blue;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	#disclaimer {
		font-size: 0.9em;
		color: #333;
	}
}

#screen {
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3000;
}

#auth {
	list-style-type: none;

	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin: 5px;

		img {
			background-color: rgba(2, 2, 255, 0.2);

			-webkit-box-shadow:  0px 0px 9px 1px rgba(2, 2, 255, 0.5);
			box-shadow:  0px 0px 9px 1px rgba(2, 2, 255, 0.5);

			&.connected {
				opacity: 0.5;

				background-color: rgba(30, 214, 52, 0.5);

				-webkit-box-shadow:  0px 0px 9px 1px rgba(30, 214, 52, 1);
				box-shadow:  0px 0px 9px 1px rgba(30, 214, 52, 1);
			}
		}
	}
}

#cloud-2 {
	position: absolute;
	left: 250px;
	top: 0px;
}

#body {
	height: 100%;
	width: 100%;
	margin-top: -250px;
	padding-top: 150px;
	padding-bottom: 100px;
	display: table;
}

#boxes {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

#message {
	display: none;
	width: 200px;
	height: 25px;
	padding: 10px;
	background-color: white;
	border-radius: 3px;
	text-align: center;
	position: fixed;
	left: 50%;
	margin-left: -100px;
	top: 50px;
}

#cards {
	height: 200px;
}

#cards > div {
	display: inline-block;

	width: 270px;
	height: 200px;
	
	margin: 10px;
	padding: 0;

	box-sizing: border-box;
}

#cards .card {
	display: inline-block;

	width: 270px;
	height: 200px;
	
	margin: 0;
	padding: 10px;
	
	background-color: white;
	text-align: left;
	font-size: 20px;

	position: relative;

	z-index: 1000;

	box-sizing: border-box;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-box-shadow:  0px 0px 7px 3px rgba(255, 2, 2, 0.5);
	box-shadow:  0px 0px 7px 3px rgba(255, 2, 2, 0.5);

	-webkit-transition: -webkit-box-shadow 0.2s linear;

	cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;

	.grabbing {
		cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
	}

	&.default {
		font-size: 100pt;
		padding: 20px;
		text-align: center;
		vertical-align: middle;
	}

	&:hover {
		-webkit-box-shadow:  0px 0px 7px 3px rgba(2, 2, 255, 0.5);
		box-shadow:  0px 0px 7px 3px rgba(2, 2, 255, 0.5);

		z-index: 2000;
	}
}

@-webkit-keyframes pulse {
	from {
		-webkit-box-shadow:  0px 0px 7px 3px rgba(255, 2, 2, 0.6);
		box-shadow:  0px 0px 7px 3px rgba(255, 2, 2, 0.5);
	}

	to {
		-webkit-box-shadow:  0px 0px 9px 3px rgba(128, 2, 2, 0.3);
		box-shadow:  0px 0px 9px 3px rgba(128, 2, 2, 0.7);
	}
}

@-webkit-keyframes gyrate {
	0%   { -webkit-transform: translate(0px, 0px); }
	10%  { -webkit-transform: translate(2px, 1px); }
	20%  { -webkit-transform: translate(-2px, 3px); }
	30%  { -webkit-transform: translate(-3px, 2px); }
	40%  { -webkit-transform: translate(2px, -1px); }
	50%  { -webkit-transform: translate(-2px, 2px); }
	60%  { -webkit-transform: translate(4px, -1px); }
	70%  { -webkit-transform: translate(3px, -2px); }
	80%  { -webkit-transform: translate(1px, 2px); }
	90%  { -webkit-transform: translate(2px, -2px); }
	100% { -webkit-transform: translate(1px, 1px); }
}

#cards div.pulsing {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
}

#cards div.gyrating {
	-webkit-animation-name: gyrate;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

header {
	height: 250px;
	width: 100%;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 200px;
	width: 100%;

	img {
		height: 100px;
		position: absolute;
		bottom: 0;
	}
}

#fire {
  width: 600px;
  height: 200px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#skullRight {
}

#skullLeft {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
